.login-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.login-form-input{
    padding: 10px 30px;
    margin: 10px;
    border: 1px solid #e4e4e4;
    border-radius: 0px;
    font-size: 14px;
    line-height: 26px;  
    display: flex;
}
.login-form-submit{
    margin-top: 20px;
    padding: 12px 25px;
    background-color: #1a1b1f;
    color: #fff;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 2px;
    text-decoration: none;
    display: flex;
    text-transform: uppercase;
}
